html,
body {
  height: 100%;
}

/* Fem que el contingut del cos ocupi el 100% de la pantalla per tal de dur al
fons el peu de pàgina (footer).
En l'operació es resta l'altura del Navbar + la del Footer = 278px. */
main#contingut {
  min-height: calc(100vh - 278px);
}

/* OCULTAR PARTS */
.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}
@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}
.hidden-xl-down {
  display: none !important;
}


/* FOOTER */
footer {
  bottom: 0;
  width: 100%;
}

footer.bg-dark {
  color: #fff;
}
footer.bg-dark a {
  font-weight: 500;
  color: #fff;
}
footer.bg-dark a:hover {
  color: rgba(255, 255, 255, 0.8);
}
footer.bg-dark hr {
  border-color: rgba(255, 255, 255, 0.4);
}

footer.minifoot {
  height: 60px;
  line-height: 60px;
}
footer.minifoot p {
  margin-bottom: 0;
}

footer.bigfoot {
  padding: 2rem 0;
  font-size: 85%;
}
footer.bigfoot #footer-social {
  text-align: left;
}
footer.bigfoot #footer-social i {
  margin: 0 0.5rem;
}
footer.bigfoot #copyright-owner {
  text-align: right;
}
footer.bigfoot #copyright-designer {
  text-align: right;
}
footer.bigfoot #copyright-designer hr {
  margin-top: 0;
}

@media (max-width: 991px) {
  footer.bigfoot #footer-social {
    text-align: center;
  }
  footer.bigfoot #footer-social i {
    margin: 0.4rem 0.5rem;
  }
  footer.bigfoot #copyright-owner {
    text-align: center;
  }
  footer.bigfoot #copyright-designer {
    text-align: center;
    font-size: smaller;
  }
}

/* TEXTOS SCROLL */
div.scroll {
  overflow: auto;
  max-height: 500px;
}
